h1 {
  font-family: 'Source Sans Pro';
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

#stopWatch {
  background-color: #333;
  width: 300px;
  height: auto;
  text-align: center;
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
}

#timer, #fulltime {
  width: auto;
  height: auto;
  padding: 10px;
  font-weight: bold;
  font-family: tahoma;
  display: block;
  text-align: center;
  background: #ccc;
  color: #000;
}

#fulltime {
  display: none;
  font-size: 16px;
  font-weight: bold;
}

button {
  font-family: 'Source Sans Pro';
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

button:hover {
  opacity: .9;
}

#start {
  background-color: #008000;
}

#stop {
  background-color: #ff0000;
}

#clear {
  background-color: #808080;
}
